@charset "utf-8";

.wrapper {
	padding-top: 130px;
	/*background-color: red;*/
}
@media screen and (max-width : 992px) {
	.wrapper {
		padding-top: 170px;
	}
}

.container-fluid .container .jumbotron {
    background-image: -webkit-linear-gradient(270deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100.00%);
}
.row .col-lg-6 h1 {
    font-weight: 500;
    text-align: center;
    color: #000000;
}
.row .col-lg-6 p {
    font-size: 19px;
    text-align: justify;
}
.row .col-lg-12 .display-4 {
    font-weight: 500;
    text-align: center;
}
.row .col-lg-12 p {
    font-size: 19px;
    text-align: justify;
}

.col-lg-6 center .btn.btn-primary.btn-lg {
    border: 0px;
    background-image: -webkit-linear-gradient(270deg,rgba(21,198,215,1.00) 0%,rgba(8,132,118,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(21,198,215,1.00) 0%,rgba(8,132,118,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(21,198,215,1.00) 0%,rgba(8,132,118,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(21,198,215,1.00) 0%,rgba(8,132,118,1.00) 100.00%);
    font-weight: bolder;
    color: white;
}
