@charset "utf-8";

.wrapper {
	padding-top: 130px;
	/*background-color: red;*/
}
@media screen and (max-width : 992px) {
	.wrapper {
		padding-top: 170px;
	}
}

.col-lg-6 .card-body .card-title {
    text-align: center;
}
.col-lg-6 .card-body .card-text {
    text-align: center;
    font-weight: 500;
}

.container .jumbotron .display-4 {
    font-weight: 500;
    text-align: center;
}
.container-fluid .container .jumbotron {
	 background-image: -webkit-linear-gradient(270deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(198,218,222,1.00) 0%,rgba(145,206,220,1.00) 100.00%);
}
.card-body center .img-fluid.rounded-circle {
    height: 300px;
    width: 300px;
}
