.payment-wrapper {
	padding-top: 130px;
	/*background-color: red;*/
	display: flex;
	justify-content: center;
}

@media screen and (max-width : 992px) {
	.payment-wrapper{
		padding-top: 170px;
	}
}

.pdetails{

	/* background-color: red; */
	padding: 40px 0;
	width: fit-content;
}

table td{
	padding: 0 10px;
}

.btn{
	height: 28px;
	width: 65px;
	line-height: 10px;
	margin: 10px 0;
	float: right;
}